//- Displaying a user friendly “Page Not Found” message.
extends ../layout

block content
  title Page Not Found
  h1 404 Page Not Found
    p Unexpected error with the request, your patience is appreciated.