//- Displaying a user friendly “Page Not Found” message.
extends ../layout

block content
  title Page Not Found
  link(rel='stylesheet' href='../public/stylesheets/style.css')
  h1 Server Error
    p Unexpected error with the server, your patience is appreciated.