//- The boilerplate markup that should be on every page

doctype html
head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
body
    head
    div.container
        block content